:root {
  --container-bg: #ffffff;
  --body-bg: #d6e2f0;
  --paragraph-color: #7b879d;
  --title-color: #1f3251;
  --main-font: Outfit;
}

body {
  background-color: var(--body-bg);
  font-family: var(--main-font, sans-serif);
}
.container {
  background-color: var(--container-bg);
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 152px auto 40px auto;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 20px 20px 5px rgb(123 135 157 / 10%);
  -webkit-box-shadow: 0px 20px 20px 5px rgb(123 135 157 / 10%);
  -moz-box-shadow: 0px 20px 20px 5px rgb(123 135 157 / 10%);
}
.container img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: var(--dark-blue);
}

.title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 28px;
  color: var(--title-color)
}

.paragraph {
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph-color);
  padding: 0px 12px;
  margin-bottom: 23px;
  line-height: 19px;
}

@media (max-width: 375px) {
  .container {
    padding: 16px;
    margin: 85px 28px 15px 28px;
  }

  .container img {
    margin-bottom: 25px;
  }
  .title {
    padding: 0 10px;
  }
}
